/* Global Styles */
* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f0f8fb;
    margin: 0;
    padding: 80px;
    color: #014d6f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.back-button {
    display: inline-flex;
    align-items: center;
    color: #0a4158;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.back-button svg {
    margin-right: 10px;
    border: 2px solid #014d6f;
    padding: 5px;
    height: 20px;
    fill: #014d6f;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.option-card-new,
.option-card-damaged,
.option-card-history {
    background-color: #c6e4f2;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.option-card-new:hover,
.option-card-damaged:hover,
.option-card-history:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.option-icon {
    width: 80px;
    height: 80px;
    fill: #0a4158;
    margin-bottom: 20px;
}

.option-title {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #0a4158;
}