* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f0f8fb;
    margin: 0;
    padding: 20px;
    color: #0a4158;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.back-button {
    display: inline-flex;
    align-items: center;
    color: #0a4158;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.back-button svg {
    margin-right: 10px;
    border: 2px solid #014d6f;
    padding: 5px;
    height: 20px;
    fill: #014d6f;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #0a4158;
}

.submit-button {
    background-color: #6ab7df;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0d5470;
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.equipment-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.equipment-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #014d6f;
    margin-bottom: 15px;
    text-align: center;
}

.equipment-description {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.4;
    text-align: center;
}

.status-badge {
    display: block;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 0.9rem;
}

.status-damaged {
    background-color: #ffcccb;
    color: #b73239;
    text-align: center;
}